{% extends "w_layout.html" %}
{% import 'w_base.html' as base %}

{% macro form() -%}
<form class="form" id="entity_form">
	<div class="row">
		<div class="col">
			<input type="text" class="form-control" id="title" placeholder="название">
		</div>
		<div class="col-3">
			<select class="custom-select" id="category_id">
				<option disabled selected value="0">категория...</option>
				{% for category in categories %}
					<option value="{{category.id}}">{{category.title}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col"></div>
	</div>	
	<button type="button" class="btn btn-primary float-right"
			id="dialog_button" onclick="send(this, '#Dialog')"></button>
</form>
{% endmacro %}

{% macro table(symbols) -%}
<table class="table table-sm table-striped">
<tr>
	<th>id</th>
	<th>название</th>
	<th class="text-right">категория</th>
	<th class="text-right">изменить</th><th></th>
</tr>
	{% for symbol in symbols %}
		<tr>
			<td>{{ symbol.id }} </td>
			<td>{{ symbol.title }} </td>
			<td category_id="{{symbol.category.id}}" class="text-right">{{ symbol.category.title }}</td>
			{{ base.command(symbol.id) }}
		</tr>
	{% endfor %}
</table>	
{%- endmacro %}

{% macro filter(categories) -%}
	<select class="custom-select" id="category_filter" onChange="CategoryFilter()">
		<option disabled selected value="0">фильтр...</option>
		{% for category in categories %}
			<option value="{{category.id}}">{{category.title}}</option>
		{% endfor %}
	</select>
{%- endmacro %}

{% macro mainFrame(symbols, categories) -%}
<div class="container">
	<div class="row">
		<div class="col-2"></div>
		<div class="col">
			<div  style="height: 30px;" id="flash">{{base.flashed()}}</div>
			<div class="row m-2">
				<div class="col pt-2"><label>символ</label>&nbsp;&nbsp; {{base.command(0)}}</div>
				<div class="col"></div>
				<div class="col">{{filter(categories)}}	</div>
			</div>
			
			<div id="tableFrame">{{table(symbols)}}</div>
		</div>
		<div class="col-2"></div>
	</div>
</div>
{%- endmacro %}


{% block main %}
<div id="mainFrame">
	{{mainFrame(symbols, categories)}}
</div>

{{base.dialog()}}

<div style="display:none">
	{{form()}}
</div>	
	
<script>
var columns = {};

function flash(html) {
	$('#flash').append(html)
	setTimeout(function(){$('#flash').text('');}, 5000);
}

function dialog(elm, id, param) {
	columns["cmd"] = param
	columns["id"] = id
	
	var tr = $(elm).parent();
	var td = tr.find('td');
		
	if (param == 'update') {
		$('#dialog_form').html($('#entity_form').html());
		$('#dialog_title').text('изменить');
		$('#dialog_button').text('изменить');
		$('#title').val($(td[1]).text());
		$('#category_id').val($(td[2]).attr('category_id'));
		
	} else if (param == 'insert') {
		var filter = $('#category_filter').val();
		$('#dialog_form').html($('#entity_form').html());
		$('#dialog_title').text('добавить');
		$('#dialog_button').text('добавить');
		if (filter) {
			$('#category_id').val(filter);
		}
		
	} else {
		$('#dialog_form').html($('#delete_form').html());
		$('#dialog_button').text('удалить');
		$('#dialog_title').text('удалить');
		$('#delete_title').text($(td[1]).text())  
	}
	$('#Dialog').modal()
	$('#title').focus(); 
}

function send(elm, idDialog) {
	var title = $('#title').val();
	var category = $('#category_id').val();
	var filter = $('#category_filter').val();
	
	if (columns['cmd'] != 'delete') {
		if (!title || !category){
			return
		}
	}
	columns['title'] =  $.trim(title);
	columns['category_id'] = category;
	
	if (filter) {
		columns['category_filter'] = filter;
	}
	
	$(idDialog).modal('toggle');

	$.ajax({
        url: '/wide/symbol',
        data: columns,
		type: 'POST',
        dataType: 'json',
        success: function(res) {
			console.log(res);
			$('#tableFrame').html(res[0]);
			$('#flash').append(res[1])
			setTimeout(function(){$('#flash').text('');}, 5000);
        },
        error: function(error) {
            console.log(error);			
        }		
    });}
	
function CategoryFilter() {
	var category = $('#category_filter').val();
	
	$.ajax({
        url: '/wide/data',
        data: {cmd: 'symbols_category', category_id: category},
		type: 'POST',
        dataType: 'HTML',
        success: function(res) {
			$('#tableFrame').html(res);
        },
        error: function(error) {
            console.log(error);			
        }		
    });}	

</script>
{% endblock %}