<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
        <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
		<link href="/static/styles.css" rel="stylesheet">
        
		<script src="https://code.jquery.com/jquery-3.4.1.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		
		<script src="/static/md5.js"></script>
		<script src="/static/scripts.js"></script>
		<script src="/static/stock_scripts.js"></script>
		
		<title>Сборка</title>
    </head>


    <body>
		{% set user = session['cifra_user'] %}
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow mb-2" >
            <a class="navbar-brand mb-1 h1" href="/">Sborka.ua</a>
            <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" type="button" data-target="#navbarNav" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <main class="container-fluid p-1">
           <h1>Технический перерыв 10 мин.</h1>
        </main>
		
    </body>

</html>


