<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
        <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
		<link href="/static/styles.css" rel="stylesheet">
        
		<script src="https://code.jquery.com/jquery-3.4.1.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		
		<script src="/static/md5.js"></script>
		<script src="/static/scripts.js"></script>
		<script src="/static/stock_scripts.js"></script>
		
		<title>Сборка</title>
    </head>


    <body>

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow mb-2" >
            {%if isOnline %}
                <span id="online"> &#x25a3;</span>
            {% endif %}
            <a class="navbar-brand mb-1 h1" href="/">Sborka.ua</a>
            <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" type="button" data-target="#navbarNav" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
					
						<li class="nav-item">
						<a class="nav-link" href="/cifra">Склад цифра</a>
						</li>
					
					{#
						<li class="nav-item">
							<a class="nav-link" href="/shira">Подпись</a>
						</li>
					#}
					<li class="nav-item">
						<a class="nav-link" href="/wide">Склад широкоформат</a>
                    </li>
					 <li class="nav-item">
                        <a class="nav-link" href="/work">Сборки в работе</a>
                    </li>
                </ul>
				
				
			</div>	
			
			<div>
				{% block sign %}{% endblock %}
			</div>	

				<form class="navbar-form" action="search" enctype="text/plain">
                    {% block search %}{% endblock %}
                </form>
				<!--
                <form class="navbar-form" action="/login" method="post">
                    {% block login %}{% endblock %}
                </form>   
				-->

        </nav>

        <main class="container-fluid p-1">
            {% block main %}{% endblock %}
        </main>
		
    </body>

</html>


